certifi==2020.6.20
chardet==3.0.4
idna==2.10
MouseInfo==0.1.3
psutil==5.7.2
PyAutoGUI==0.9.52
PyDirectInput==1.0.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.1
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
requests==2.24.0
six==1.15.0
urllib3==1.25.11
toml
